@media (min-width: 1024px) {
    
    .topo-header {
        margin-top: 20px;
    }

    #logo-header {
        width: 250px; 
    }

    .icon-solcial-media {
        width: 30px; 
    }

    nav {
        margin-top: 50px;
    } 

    nav ul li {
        font-size: 1.5rem; 
    }

    /* Ajustado para aplicar o espaçamento correto no desktop */
    nav ul a:not(:last-child) li::after {
        margin: 0 40px; 
    }

    #unidades {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        text-align: center;
        width: 90vw;
        max-width: 1400px; 
        margin: 40px auto; 
        gap: 30px;
    }

    .card-loja {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: flex-start; 
        height: 750px; 
    }

    .header-card {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        align-items: center;
        position: relative;
        width: 100%;
        margin-bottom: 5px; 
        padding: 5px 0;    
        gap: 20px; 
    }
    
    .header-card h1 {
        font-size: 2rem;
        width: auto; 
    }

    .icones-loja {
        position: static; 
        display: flex;
        gap: 15px;
    }

    /* --- Ajuste Exato Desktop para Imagens da Fachada --- */
    .fachada-loja {
        width: 100%;
        max-width: 600px; 
        height: 500px;
        object-fit: cover;
        object-position: center; 
        margin-top: 10px;
        border-radius: 8px;
    }

    /* Ajustes das caixas diferenciais para Desktop */
    .diferenciais-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 25px;
        margin-top: 40px;
    }

    .diferencial-card {
        flex: 1; 
    }
}