
@media (min-width: 1024px) {
    
   .topo-header {
        justify-content: center; 
        margin-left: 0; 
        gap: 0px;
    }

    #header_card_esquerdo_superior {
        width: 80px; 
        margin-top: 0;
    }

    header h1 {
        font-size: 9rem; 
        letter-spacing: 25px;
        padding: 0 30px 30px 30px;
    }

    .subtitulos-alinhados {
        margin-top: -5px; 
    }

    .subtitulo-header {
        font-size: 2rem; 
    }
    
    .container-titulo {
        margin-left: 4px; 
    }
    
    nav {
            margin-top: 50px;
    } 
    nav ul li {
        font-size: 1.5rem; 
    }

    nav ul li:first-child::after {
        margin: 0 40px; 
    }

    #logo-header{
        width: 120px;
        margin-top: -15px;
        margin-left: -35px;
    }
}